<!DOCTYPE HTML>

<html>

<head>

<meta http-equiv=”Content-Type” content=”text/html; charset=UTF-8″ />

<meta charset="utf-8">

<title>救世主高橋に救われたアニメ早見リンク表</title>

<LINK rel="stylesheet" type="text/css" href="/static/style1.css">

<link rel="shortcut icon" href="/static/video.ico" type="image/vnd.microsoft.icon">

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>

<script type="text/javascript" src="/static/test.js"></script>
<script  type="text/javascript" src="/static/jquery.balloon.min.js"></script>
</head>



<body bgcolor="#27313D" style="margin:0px;">

  <div class="atama">

    <div class="atama-left">

    	Anime hayami -thanks for Messiah Takahashi-

		</div>



 </div>




<table class="sample_04">



<tbody>

<tr id="tDay">
<th id="monDay">月曜日</th>
<th id="tuesDay">火曜日</th>
<th id="wednesDay">水曜日</th>
<th id="thursDay">木曜日</th>
<th id="flyDay">金曜日</th>
<th id="saturDay">土曜日</th>
<th id="sunDay">日曜日</th>
</tr>

{{ aha|safe }}


</tbody>

</table>
<div id="characontainer">
  <div class="chara">

    <script type="text/javascript">cha()</script>
</div>
</div>
</body>




</html>